// Border Radius Mixins
@mixin rounded-top-left($radius: $border-radius-medium) {
  border-top-left-radius: $radius;
}

@mixin rounded-top-right($radius: $border-radius-medium) {
  border-top-right-radius: $radius;
}

@mixin rounded-bottom-right($radius: $border-radius-medium) {
  border-bottom-right-radius: $radius;
}

@mixin rounded-bottom-left($radius: $border-radius-medium) {
  border-bottom-left-radius: $radius;
}

// Border and Color
@mixin border-width($width: $border-width-thin) {
  border-width: $width;
}

@mixin border-color($color: $primary-color) {
  border-color: $color;
}

// Transition
@mixin transition($property: all, $duration: 0.3s, $ease: ease-in-out) {
  transition: $property $duration $ease;
}
