// Colors
$primary-color: #000000;
$secondary-color: #718096;
$warning-color: #e53e3e;
$inactive-color: #b8b8b8;
$hover-color: #7a7a7a;
$active-color: #333333;
$background-color: #ffffff;

// Border Radius
$border-radius-small: 4px;
$border-radius-medium: 6px;
$border-radius-large: 10px;

// Border Width
$border-width-thin: 1px;
$border-width-thick: 1.2px;

// Spacing (Padding and Margin)
$padding-small: 4px;
$padding-medium: 8px;
$padding-large: 16px;
$margin-small: 4px;
$margin-medium: 12px;
$margin-large: 16px;

// Font Sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

// Form
$input-height: 40px;
