// _buttons.scss

.btn {
  padding: $padding-md;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  @include rounded($border-radius-md);
  @include box-shadow;
  @include transition;

  &:hover {
    background-color: $highlight-color;
    @include box-shadow($box-shadow-hover);
  }

  &:active {
    background-color: darken($primary-color, 10%);
  }
}

.btn--secondary {
  background-color: $secondary-color;
  
  &:hover {
    background-color: lighten($secondary-color, 10%);
  }
}

.btn--warning {
  background-color: $warning-color;
  
  &:hover {
    background-color: lighten($warning-color, 10%);
  }
}
