@import '../base/variables';
@import '../base/mixins/common';

.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 100;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.checked .custom-checkbox {
    background-color: $primary-color;
    border-color: $primary-color;

    i.pi {
      color: white; // Icon color when checked
    }
  }
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(#{unit-size-rem(1)}rem);
  height: calc(#{unit-size-rem(1)}rem);
  background-color: $background-color;
  border: $border-width-thin solid $inactive-color;
  @include rounded($border-radius-small);
  z-index: 101;

  i.pi {
    font-size: 0.8rem;
    color: white;
  }
}
