@import '../base/variables';
@import '../base/mixins';

.dropdown {
  position: relative;
  width: 200px;

  &-button {
    width: 100%;
    padding: $padding-medium;
    background-color: $background-color;
    color: $inactive-color;
    font-size: $font-size-medium;
    text-align: left;
    border: $border-width-thin solid $inactive-color;
    border-radius: $border-radius-medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      color: $hover-color;
      border-color: $hover-color;
    }

    &:focus {
      outline: none;
      border-color: $active-color;
    }
  }

  &-icon {
    font-size: $font-size-small;
    transition: transform 0.3s ease;
  }

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: $background-color;
    border: $border-width-thin solid $inactive-color;
    border-radius: $border-radius-medium;
    z-index: 1000;

    .dropdown-option {
      padding: $padding-medium;
      color: $text-color;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
        color: white;
      }

      &.selected {
        background-color: $active-color;
        color: white;
      }
    }
  }
}