@import '../base/variables';
@import '../base/mixins/common';
@import '../base/mixins/forms';

// Dropdown container and button styling
.dropdown {
  background-color: $background-color;

  @include form();

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-menu {
    
  }

  &.open .dropdown-menu {
    display: block;
  }
}

// Icon inside the dropdown
.dropdown-icon {
  font-size: $font-size-small;
  color: $inactive-color;
}

// Dropdown menu itself
.dropdown-menu {
  position: absolute;
  top: calc(100% + ($padding-small + rem));
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: $background-color;
  border: $border-width-thin solid $inactive-color;
  @include rounded-bottom-left($border-radius-medium);
  @include rounded-bottom-right($border-radius-medium);
  z-index: 1000;

  .dropdown-option {
    padding: $padding-medium;
    color: $text-color;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
      color: white;
    }

    &.selected {
      background-color: $active-color;
      color: white;
    }
  }
}
