@import '../base/variables';
@import '../base/mixins';

.input-group {
  display: flex;
  align-items: center;
  width: 200px;

  &-start,
  &-middle,
  &-end {
    border-style: solid;
    @include border-color($inactive-color);
    @include border-width($border-width-thin);

    box-sizing: border-box;
    height: 1.8rem;

    z-index: 1;

    &:hover {
      z-index: 2;
    }

    &:focus {
      z-index: 3;
    }
  }

  &-start {
    flex: 1;

    @include rounded-top-left($border-radius-medium);
    @include rounded-bottom-left($border-radius-medium);
  }

  &-middle {
    flex-grow: 1;
    margin-left: -1px;
  }

  &-end {
    flex: 1;
    margin-left: -1px;
    
    @include rounded-top-right($border-radius-medium);
    @include rounded-bottom-right($border-radius-medium);
  }
}
