@import '../base/variables';
@import '../base/mixins';

.input {
  background-color: $background-color;

  border-style: solid;
  @include border-color($inactive-color);
  @include border-width($border-width-thin);

  // @include rounded-top-left($border-radius-medium);
  // @include rounded-top-right($border-radius-medium);
  // @include rounded-bottom-right($border-radius-medium);
  // @include rounded-bottom-left($border-radius-medium);

  box-sizing: border-box;
  padding: $padding-medium;

  &::placeholder {
    color: $inactive-color;
  }

  &:hover {
    @include border-color($hover-color);
  }

  &:focus {
    @include border-color($active-color);
    @include border-width($border-width-thick);
    outline: none;
  }

  &--invalid {
    @include border-color($warning-color);
  }
}
