@import '../variables';
@import '../mixins';

.input-group {
  display: flex;
  flex-direction: column;
  gap: $padding-small;

  // Align validation messages
  .validation {
    margin-top: $margin-small;
  }

  // Align inputs and small validation text side-by-side when needed
  .input-validation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .validation {
      margin-left: $margin-small;
    }
  }
}
