@import '../base/variables';
@import '../base/mixins/common';

.list {
  display: flex;
  flex-direction: column;

  padding: #{$padding-small}rem;
  margin: 0;

  @include rounded($border-radius-medium);
  
  list-style-type: none;
}

.list-item {
  box-sizing: border-box;
  height: calc(#{unit-size-rem(1)}rem + #{2 * $padding-medium}rem);
  padding: #{$padding-medium}rem;
  
  @include rounded($border-radius-medium);

  font-size: $font-size-large;
  line-height: 1rem;
  color: $text-color;
  
  cursor: pointer;

  &:hover {
    background-color: $list-hover-color;
    color: $text-color;
  }

  &.selected {
    background-color: $active-color;
    color: $text-color;
  }
}