@import '../base/variables';
@import '../base/mixins';

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;

  .list-item {
    padding: $padding-medium;
    color: $text-color;
    border-radius: $border-radius-medium;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $hover-color;
      color: white;
    }

    &.selected {
      background-color: $active-color;
      color: white;
    }
  }
}