@import '../base/variables';
@import '../base/mixins/common';

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  background-color: $background-color;
  border: $border-width-thin solid $inactive-color;
  border-radius: $border-radius-medium;
  z-index: 1000;
  overflow-y: auto;
  display: none;

  &.show {
    display: block;
  }
}
