@import '../base/variables';

.table-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $inactive-color;
    border-radius: #{$border-radius-medium}rem;
    overflow: hidden;
  }
  
  .table-header {
    display: flex;
    background-color: $background-color;
    font-weight: 500;
    border-bottom: 1px solid $inactive-color;
  }
  
  .table-header-cell {
    flex: 1;
    padding: #{$padding-small}rem #{$padding-medium}rem;
    text-align: left;
  }
  
  .select-cell {
    width: 40px;
    text-align: center;
  }
  
  .table-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .table-row-cell {
    flex: 1;
    padding: #{$padding-small}rem #{$padding-medium}rem;
    text-align: left;
  }
  
  .select-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  