@import '../variables';
@import '../mixins';

.validation {
  font-size: $font-size-small;
  color: $warning-color;
  margin-top: $margin-small;

  &--valid {
    color: $primary-color;
  }

  &--invalid {
    color: $warning-color;
  }
}
