<div class="container container-vertical">

  <label class="label label-medium">Name</label>

  <input type="text" class="input">

  <label class="label label-small">Enter your name</label>

  <label class="label label-medium">City</label>

  <cyberfab-dropdown 
    [options]="['Bratislava', 'Munich', 'Vienna']" 
    placeholder="Select a City">
  </cyberfab-dropdown>

  <label class="label label-small">Enter your city</label>

  <div class="input-group">

    <div class="input-group-start" style="display: flex; align-items: center; justify-content: center; padding-left: 0.5rem; padding-right: 0.5rem;">

      <i class="icon pi pi-user" style="font-size: 0.75rem;"></i>

    </div>

    <input type="text" class="input input-group-middle" id="name-input" aria-describedby="name-input-icon name-input-validation">

    <input type="text" class="input input-group-middle" id="name-input" aria-describedby="name-input-icon name-input-validation">

    <input type="button" class="input-group-end button" value="Submit" id="name-submit-button">

  </div>

  <cyberfab-list [items]="products">
    <ng-template let-item>
      {{ item.name }}
    </ng-template>
  </cyberfab-list>

<router-outlet></router-outlet>

<script type="module" src="../assets/scripts/dropdown.js"></script>
