<div class="container container-vertical">
  <maxterdev-tabs>
    <maxterdev-tablist
      [tabs]="['Tab 1', 'Tab 2']"
      [activeTab]="activeTab"
      (tabChange)="activeTab = $event"
    ></maxterdev-tablist>

    <maxterdev-tabpanel [active]="activeTab === 0">
      <maxterdev-list
        [items]="nodes"
        [isMultiSelect]="true"
        [(selectedItems)]="selectedNodes"
      >
      </maxterdev-list>
    </maxterdev-tabpanel>

    <maxterdev-tabpanel [active]="activeTab === 1">
      	
	    <maxterdev-table
        [columns]="[
          { key: 'label', label: 'Label' },
          { key: 'data', label: 'Data' }
        ]"  
        [items]="nodes"
        [isMultiSelect]="false"
        [(selectedItems)]="selectedItems"
        (rowClicked)="onRowClicked($event)"
      ></maxterdev-table>
    </maxterdev-tabpanel>
  </maxterdev-tabs>

  <router-outlet></router-outlet>

  <script type="module" src="../assets/scripts/dropdown.js"></script>
</div>


