@mixin padding($padding) {
  padding: $padding + rem;
}

// Border Radius Mixins
@mixin rounded-top-left($radius: $border-radius-medium, $important: false) {
  @if $important {
    border-top-left-radius: #{$radius} !important;
  } @else {
    border-top-left-radius: #{$radius};
  }
}

@mixin rounded-top-right($radius: $border-radius-medium, $important: false) {
  @if $important {
    border-top-right-radius: #{$radius} !important;
  } @else {
    border-top-right-radius: #{$radius};
  }
}

@mixin rounded-bottom-right($radius: $border-radius-medium, $important: false) {
  @if $important {
    border-bottom-right-radius: #{$radius} !important;
  } @else {
    border-bottom-right-radius: #{$radius};
  }
}

@mixin rounded-bottom-left($radius: $border-radius-medium, $important: false) {
  @if $important {
    border-bottom-left-radius: #{$radius} !important;
  } @else {
    border-bottom-left-radius: #{$radius};
  }
}

@mixin rounded($radius: $border-radius-medium, $important: false) {
  @if $important {
    border-radius: #{$radius} !important;
  } @else {
    border-radius: #{$radius};
  }
}

// Border and Color Mixins
@mixin border-width($width: $border-width-thin, $important: false) {
  @if $important {
    border-width: #{$width} !important;
  } @else {
    border-width: #{$width};
  }
}

@mixin border-color($color: $primary-color, $important: false) {
  @if $important {
    border-color: #{$color} !important;
  } @else {
    border-color: #{$color};
  }
}

@mixin unit-height($units: 1, $padding) {
  height: (1.0 * $units + 2 * $padding) + rem;
}
