<!-- dropdown.component.html -->
<div class="dropdown">
  <div class="dropdown-button" (click)="toggleDropdown()">
    {{ selectedOption || placeholder }}
    <span class="dropdown-icon">
      <i class="icon pi pi-chevron-down"></i>
    </span>
  </div>
  
  <div class="dropdown-menu" *ngIf="isOpen">
    <div 
      class="dropdown-option" 
      *ngFor="let option of options" 
      [class.selected]="option === selectedOption"
      (click)="selectOption(option)">
      {{ option }}
    </div>
  </div>
</div>
