<div class="dropdown" (click)="toggleDropdown()">
  <span *ngIf="!isMultiSelect && !selectedOption" class="placeholder">
    {{ placeholder }}
  </span>
  <span *ngIf="!isMultiSelect && selectedOption" class="selected">
    {{ selectedOption }}
  </span>
  <span *ngIf="isMultiSelect && selectedOptions.length === 0" class="placeholder">
    {{ placeholder }}
  </span>
  <span *ngIf="isMultiSelect && selectedOptions.length > 0" class="selected">
    {{ selectedOptions.join(', ') }}
  </span>
  <span class="dropdown-icon">
    <i class="pi pi-chevron-down"></i>
  </span>
  <div class="dropdown-menu" *ngIf="isOpen" (click)="$event.stopPropagation()">
    <cyberfab-list
      [items]="options"
      [isMultiSelect]="isMultiSelect"
      [selectedItems]="selectedOptions"
      (selectedItemsChange)="selectedOptionsChange.emit($event)"
      (itemSelected)="selectOption($event)">
      <ng-template let-item>{{ item }}</ng-template>
    </cyberfab-list>
  </div>
</div>
