// _mixins.scss

@mixin rounded($radius: $border-radius-md) {
  border-radius: $radius;
}

@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
}

@mixin focus-outline($color: $glow-color) {
  outline: none;
  box-shadow: 0 0 5px 3px $color;
}

@mixin transition($property: all, $duration: 0.3s, $ease: ease-in-out) {
  transition: $property $duration $ease;
}
