// main.scss
@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';
@import 'components/buttons';
@import 'components/dropdowns';
@import 'components/inputs';
@import 'components/group';
@import 'components/labels';
@import 'components/validation';
@import 'layouts/grid';
@import 'layouts/container';
@import 'utilities/helpers';
@import 'utilities/responsive';


* {
    font-family: 'CustomFont', sans-serif;
}
  
