// main.scss
@import 'variables';
@import 'mixins';
@import 'base';
@import 'components/buttons.scss';
@import 'components/inputs.scss';
@import 'components/labels';
@import 'components/validation';
@import 'components/input-group';

* {
    font-family: 'CustomFont', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5; 
    vertical-align: baseline; 
}
  
